<div *ngIf="catalog | async as catalog" class="catalog">
  <div class="d-flex flex-row justify-content-around flex-wrap">
    <div>
      <h5 class="d-flex flex-row flex-wrap text-center p-2">
        {{ catalog.metadata.title }}
      </h5>
      <h6 class="d-flex flex-row justify-content-center text-center p-1">
        Last modified: {{ catalog.metadata["last-modified"] | date }}
      </h6>
      <h6 class="d-flex justify-content-center text-center p-1">
        Version: {{ catalog.metadata.version }}
      </h6>
    </div>
    <div>
      <app-control-family-list
        [groups]="this.catalog.groups"
      ></app-control-family-list>
    </div>
  </div>
</div>
