<div class="home d-flex flex-column justify-content-around flex-wrap p-2">
  <h5 class="d-flex flex-column flex-wrap text-center p-2">Catalogs</h5>
  <div class="d-flex flex-column flex-fill text-center">
    <a
      routerLink="/oscal/catalog/fdac0321-959f-43ec-a91d-322da7d9761c"
      class="btn btn-primary"
      >NIST SP 800-53 Rev 5</a
    >
  </div>
  <div class="d-flex flex-column flex-fill my-2 text-center">
    <a
      routerLink="/oscal/catalog/b954d3b7-d2c7-453b-8eb2-459e8d3b8462"
      class="btn btn-primary"
      >NIST SP 800-53 Rev 4</a
    >
  </div>
</div>
