<div class="card d-flex flex-column flex-fill">
  <div class="card-body d-flex flex-column flex-fill">
    <h5 class="card-title text-center">Catalogs</h5>
    <!-- <p class="card-text text-center">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p> -->
    <a routerLink="/oscal/catalog/fdac0321-959f-43ec-a91d-322da7d9761c" class="btn btn-primary">NIST SP 800-53 Rev 5</a>
    <a routerLink="/oscal/catalog/b954d3b7-d2c7-453b-8eb2-459e8d3b8462" class="btn btn-primary">NIST SP 800-53 Rev 4</a>
  </div>
</div>
