<hr class="hr" />
<div class="d-flex flex-row justify-content-center">
  <h5>Controls</h5>
</div>

<div class="controlList d-flex px-2 flex-row justify-content-around flex-wrap">
  <div *ngFor="let control of controls" class="flex-fill">
    <div class="controlFamily d-flex flex-column flex-fill p-3 mx-2 my-2"  routerLink="./family/{{control.id}}">
      <div class=" d-flex flex-row ">
        <h1 class="groupId pe-2 pb-2">
          {{ control.id.toLocaleUpperCase() }}
        </h1>
      </div>
      <h5 class="d-flex flex-column justify-content-center text-center py-3">
        {{ control.title }}
      </h5>
      <div class="controlsNav d-flex flex-row pb-1 align-self-end justify-content-center ps-2 pt-2">
        <fa-icon [icon]="faChevronRight" class="px-2"></fa-icon>
      </div>
    </div>
  </div>
</div>
